# Build results
dist/
typings/**/*

# Others
~$*
*~
node_modules/
src/build/
coverage/
*.log

#ide
.vscode

#yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
