<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>

  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">
  <style type="text/css">
  </style>
</head>

<body>
  <div class="full-container">
      <div class="map-container">
        <div id="location-name"></div>
          <pre id="first-location"></pre>
      </div>
      <div class="location-status">
          <pre id="person-info"></pre>
      </div>
      <div class="menu-container">

      </div>
  </div>
</body>

</html>